.main-bar{
    width: calc(100% - 300px - 24px);
    float: left;
    margin: 25px 0px;
    padding: 0;
}

.main-bar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-bar-header h1{
    font-weight: 400;
}

.main-bar-header .ask-btn{
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #009dff;
    color: white;
    border: none;
    text-decoration: none;
    transition: 0.3s;
}

.main-bar-header .ask-btn:hover{
    background-color: #0086d8;
}

.question-container{
    min-height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fdf7e2;
    border-bottom: solid 2px #edeff0;
}

.question-container .votes-ans{
    padding: 10px;
}

.question-container .votes-ans p{
    margin: 0%;
    text-align: center;
}

.question-details{
    flex-grow: 1;
    padding: 10px;
    margin: 0%;
}

.question-title{
    text-decoration: none;
    color: #037ecb;
    transition: 0.3s;
    padding-left: 20px;
}

.question-title:hover{
    color: #009dff;
}

.question-details p{
    padding: 4px;
    margin: 0%;
}

.tags-time{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.tags-time .tags{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
}

.tags-time .tags p{
    margin: 2px;
    padding: 4px;
    font-size: 13px;
    background-color: #edeff0;
    color: #39739d;
}

.tags-time .time{
    font-size: 13px;
}